In [5]:
def summation():
    n1= int(input("enter the 1 number: "))
    n2= int(input("enter the 2 number: "))
    sum=0
    for i in range(n1,n2+1):
        sum+=i
    print(sum)

In [6]:
summation()

enter the 1 number: 1
enter the 2 number: 10
55

In [13]:
def summation1(n1,n2):
  sum = 0
  for i in range(n1,n2+1):
    sum+=i
  print(sum)

In [15]:
summation1(1,10)

55

In [16]:
def summation2(n1=1, n2=10):
  sum = 0
  for i in range(n1, n2+1):
    sum+=i
  print(sum)

In [17]:
summation2()

55